<html>
    <head>
        <title><%- title %></title>
        <link rel="stylesheet" type="text/css" href=<%=href%>>
    </head>
    <body>
        <div id="nav-bar">
            <div id="fb-logo">
                <a href="/newsfeed/ <%- id %>"><img src="/images/f-letter.png"></a>
            </div>
            <div id="user-profile">
                <a href="/profile-page">
                    <img src=<%- profilepic %>>
                    <span id="navbar-profile-name"><%- author %></span>
                </a>
            </div>
        </div>